###############################################################################
#
# Filter_sounds.sh script subdirectory configuration file for the
# "Default" subdirectory.
#
###############################################################################

# Set up which audio clips to make a softlink for. Ths syntax is:
#   <path to original file>|<path to softlink relative original file path>
SOFTLINK_SOUNDS="\
  "

# Set up which audio clips to maximize, or normalize, the amplitude for.
MAXIMIZE_SOUNDS="\
  S1 \
  S2 \
  S3 \
  S4 \
  S5 \
  S6 \
  S7 \
  S8 \
  S9 \
  S9+ \
  "

# Set up which audio clips to trim away silence on. The SILENCE_LEVEL
# configuration variable in the main configuration file is used to set
# the silence threshold.
# The clips are also maximized (normalized)
TRIM_SOUNDS="\
  name \
  "
